.module {
  border: thin var(--base02) solid;
  display: grid;
  grid-gap: calc(var(--default-padding)/2);
  grid-template-rows: 1.25em auto 1.25em;
}

.module:hover {
  border: thin var(--color3) solid;
}

.header {
  font-weight: bold;
  color: var(--var-color);
  background-color: var(--bg-secondary);
  padding: 
    0
    calc(var(--default-padding)/2);
}

.title2, .divider {
  color: var(--base03);
}

.module:hover .title2 {
  color: var(--var-color);
}

.content {
  padding: 
    0
    calc(var(--default-padding)/2);
  padding-top: 0;
}

.footer {
  background-color: var(--base01);
  padding: 
    0
    calc(var(--default-padding)/2);
}
