.module {
  min-width: 0;
  min-height: 0;
  border: thin var(--base01) solid;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.module:hover {
  border: thin var(--color3) solid;
}

.header {
  color: var(--base0A);
  background-color: var(--base02);
  padding: calc(var(--default-padding) / 4);
}

.title2,
.divider {
  color: var(--base03);
}

.title2:hover {
  color: var(--base0D);
}

.content {
  /*   padding: 0 calc(var(--default-padding) / 4); */
  overflow-y: auto;
}

/* .content::-webkit-scrollbar-track */
/* { */
/*     background-color: var(--base02); */
/* } */
/*  */
/* .content::-webkit-scrollbar */
/* { */
/*     width: 0.5em; */
/*     background-color: var(--base02); */
/* } */
/*  */
/* .content::-webkit-scrollbar-thumb */
/* { */
/*     background-color: var(--base04); */
/* } */

.footer {
  background-color: var(--base01);
  padding: 0 calc(var(--default-padding) / 4);
}
