.content {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: minmax(min-content,max-content) repeat(2, minmax(min-content, 1fr));
  grid-gap: calc(var(--default-padding)/4) calc(var(--default-padding));
}

.key, .value {
  padding:  calc(var(--default-padding)/8);
}

.key {
  color: var(--base0E);
}

.key::after {
  content: ':';
}

.value {
  color: var(--string-color);
}
