@keyframes blinkingText {
    0%{     color: var(--base00);    }
    49%{    color: var(--base00); }
    60%{    color: var(--base05); }
    99%{    color: var(--base05);  }
    100%{   color: var(--base00);    }
}

@keyframes typing {
  from { width: 0 }
  to { width: calc(100% - 1.5em) }
}

.text {
  display: inline-block;
  animation: blinkingText 1.2s infinite;
  white-space: nowrap; /* Keeps the content on a single line */
}

.cursor {
  display: inline-block;
  animation: blinkingText 1.2s infinite;
  white-space: nowrap; /* Keeps the content on a single line */
}

.typingText {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(20, end);
}
