---
layout: base.njk
title: Home
description: Ben Van Treese — web & game developer
---
<div class="main col4">
  <div class="bio-panel">
    <img class="bio-image" src="/assets/bio-image.jpg" alt="Ben Van Treese" />
    <div class="bio-links">
      <div><a href="{{ site.twitter }}">twitter</a></div>
      <div><a href="{{ site.github }}">github</a></div>
      <div><a href="{{ site.soundcloud }}">soundcloud</a></div>
      <div><a href="{{ site.itch }}">itch.io</a></div>
    </div>
  </div>

  <div class="module resume-module">
    <div class="module-header">Resume</div>
    <div class="module-content">
      <pre class="bio-text">
I'm a web and game developer.

My main hobbies / interests are procedural generation and art,
music, robotics and electronics.
      </pre>

      <span class="resume-title">Languages (High Experience):</span>
      <ul class="resume-list">
        <li>C#</li>
        <li>JS/TS/Node</li>
      </ul>

      <span class="resume-title">Languages (Completed Projects using):</span>
      <ul class="resume-list">
        <li>GLSL/HLSL</li>
        <li>C++</li>
        <li>Java</li>
        <li>Haxe</li>
        <li>Ruby</li>
        <li>PHP</li>
        <li>Python</li>
        <li>Lua</li>
      </ul>

      <span class="resume-title">Web Frameworks:</span>
      <ul class="resume-list">
        <li>React</li>
        <li>Angular</li>
        <li>JQuery/Jquery UI</li>
        <li>Express</li>
        <li>WebApi2</li>
        <li>FubuMVC</li>
        <li>Vue</li>
        <li>Eleventy</li>
      </ul>

      <span class="resume-title">Misc Frameworks:</span>
      <ul class="resume-list">
        <li>Electron</li>
        <li>React Native</li>
        <li>Expo</li>
        <li>Cordova</li>
      </ul>

      <span class="resume-title">Database Experience:</span>
      <ul class="resume-list">
        <li>GraphQL</li>
        <li>Postgres</li>
        <li>MongoDB</li>
        <li>DynamoDB</li>
        <li>Neo4j</li>
        <li>Lucene</li>
        <li>Elasticsearch</li>
      </ul>

      <span class="resume-title">Game development experience:</span>
      <ul class="resume-list">
        <li>Basic physics simulations.</li>
        <li>AI systems, state machines, behaviour trees, GOAP.</li>
        <li>Creating/Maintaining multiplayer games.</li>
        <li>Chat systems for multiplayer.</li>
        <li>Achievement systems.</li>
      </ul>

      <span class="resume-title">Electronics/Prototyping Experience:</span>
      <ul class="resume-list">
        <li>Basic projects using arduino and esp8266.</li>
        <li>Basic electrical/pcb design using kicad.</li>
        <li>Prototyping physical objects using fusion 360, freecad.</li>
        <li>3D printing.</li>
        <li>Basic CNC and Manual milling, lathing.</li>
        <li>Control systems: PID, IK, filtering (kalman).</li>
        <li>Soldering, diagnostics.</li>
      </ul>

      <span class="resume-title">IT Experience:</span>
      <ul class="resume-list">
        <li>Virus removal, misc help desk related tasks.</li>
        <li>Physical repair and maintenance of PC equipment.</li>
        <li>Systems administration for windows and linux servers.</li>
        <li>Maintaining DNS, Email, web and misc servers.</li>
        <li>Virtualization technologies, VMWare/ESXI.</li>
      </ul>

      <span class="resume-title">Networking Experience:</span>
      <ul class="resume-list">
        <li>Large/Small network setup (1000s of clients/endpoints)</li>
        <li>Monitoring using SNMP, cacti.</li>
        <li>Internal device security using LDAP.</li>
        <li>Advanced routing: OSPF, GBP, RIP.</li>
      </ul>
    </div>
    <div class="module-footer"></div>
  </div>
</div>
