.container {
  padding: 0 var(--default-padding);
  display: grid;
  grid-template-rows: 3vh 4vh 85vh 3vh;

  min-width: 0;
  min-height: 0;
}

.main {
  display: grid;
  color: var(--base06); /* White */
  /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, 33.33%); */
  min-width: 0;
  min-height: 0;
}

.left {
  text-align: center;
}

.left > div {
  padding: 0.25rem;
}

@media (width > 1000px) {
  .col2 {
    grid-template-columns: repeat(auto-fill, 50%);
  }

  .col3 {
    grid-template-columns: repeat(auto-fill, 33.33%);
  }

  .col4 {
    grid-template-columns: repeat(auto-fill, 25%);
  }
}

@media (width <= 1000px) ) {
  .col2,
  .col3,
  .col4 {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding: var(--default-padding);
  place-items: center;
  text-align: center;
}

.bio-image {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  width: 95%;
  border-radius: 50%;
  border: 1rem solid var(--bg-secondary);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
