.container {
  min-height: 100vh;
  padding: 0 var(--default-padding);
  display: grid;
  grid-template-rows: 100px auto 100px; 
}

.header {
  place-self: center;
  padding: var(--default-padding);
}

.main {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  place-items: stretch;
  place-content: start;
}

.footer {
  place-items: center;
  text-align: center;
}

@keyframes blinkingText {
    0%{     color: var(--base00);    }
    49%{    color: var(--base00); }
    60%{    color: var(--base05); }
    99%{    color: var(--base05);  }
    100%{   color: var(--base00);    }
}

@keyframes typing {
  from { width: 0 }
  to { width: calc(100% - 1.5em) }
}

.cursor {
  display: inline-block;
  animation: blinkingText 1.2s infinite;
  white-space: nowrap; /* Keeps the content on a single line */
}

.typingText {
  color: var(--class-color);
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(20, end);
}

.line2 {
  animation-delay: 3.5s;
}
