.content {
  display: grid;
}

.content > a {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  padding-top: 0.5em;
}

.value {
  min-height: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: end;
  padding-right: 0.5em;
  color: var(--string-color);
}
.value img {
  min-height: 5rem;
  max-height: 10rem;
  object-fit: contain;
}

.line {
  grid-column: 1 / -1;
  height: 1px;
  background: var(--bg-secondary);
  margin-top: 0.5em;
}

.key {
  padding-left: 0.25em;
  color: var(--base0E);
}

.content a:hover {
  /*   color: var(--base00); */
  background-color: var(--base01);
}

.description {
  color: var(--string-color);
}

.value .label {
  text-align: left;
  color: var(--var-color);
}
